{% extends "auth.html" %}
{% block content %}
	<form method="POST" action="" novalidate>
		{{ form.hidden_tag() }}
		
		<!-- <div class="floating-label">
							<input id="first" type="text" required>
							<label for="first">First Name</label>
		</div>
		<div class="floating-label">
							<input id="last" type="text" required>
							<label for="last">Last Name</label>
		</div> -->
		<p class="auth__intro"><strong>welcome back pimp</strong></p>
		<fieldset>
			<div class="form__group">
				{% if form.email.errors %}
					<div class="feedback__error">
						{% for error in form.email.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
					{{ form.email(class="form__input form__invalid") }}
				{% else %}
					{{ form.email(class="form__input") }}
				{% endif %}
			</div>
			<div class="form__group">
				{% if form.password.errors %}
					<div class="feedback__error">
						{% for error in form.password.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
					{{ form.password(class="form__input form__invalid") }}
				{% else %}
					{{ form.password(class="form__input") }}
				{% endif %}
			</div>
			<div class="form__group">
				{{ form.remember(class="form__check") }}
				<label for="email" class="label-inline">
					{{ form.remember.label(class="form__label") }}
				</label>
			</div>
			<div class="form__group buttonset clearfix">
				{{ form.submit(class="button link link__primary") }}
				<a class="button link link__primary button-outline">Forgot password?</a>
			</div>
			<div class="form__group">
				<p><a href="{{ url_for('register') }}" class="link link__primary">Register</a> a new account</p>
			</div>
		</fieldset>
	</form>
{% endblock content %}